.platformlink{
	position:absolute;
	top:1350px;
	left:14%;
	margin-left:10px;

	}

.platformlink>a>img{
	*opacity:0;
	width:280px;
	height:60px;
	}

.printlink{
	position:absolute;
	top:1950px;
	left:70%;
	margin-left:10px;

	}

.printlink>a>img{
	*opacity:0;
	width:225px;
	height:120px;
	}

.forumlink{
	position:absolute;
	top:2330px;
	left:44%;
	margin-left:10px;

	}

.forumlink>a>img{
	*opacity:0;
	width:210;
	height:60px;
	}