	.manage{
		width: 300px;
		height:200px;
		margin-top:10%;
		margin-left:10%;
		margin-right:300px;	
	}
	.print_inquiry{
		width: 300px;
		height:500px;
		margin-top:10%;
		margin-left:30%;
		margin-right:auto;	
	}
	.exhibition{
		width: 300px;
		height:500px;
		margin-top:30%;
		margin-left:30%;
		margin-right:auto;	
	}